* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

header {
    display: flex;
    padding: 0% 5% 0% 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;

}

nav {
    width: 75%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

#presentation {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#presentation article {
    width: 45%;
}

article {
    border: 1px black solid;
    padding: 0% 2% 0% 2%;
    text-align: justify;
    margin: 2% 0% 2% 0%;
}

footer {
    background-color: aquamarine;
    height: 50px;
    
}